[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
v = {editable = true,version = "*"}
pytest = "*"
flake8 = "*"

[packages]

[requires]
python_version = "3.8"

[scripts]
test = "python -m pytest"
lint = "python -m flake8 tests tiptapparser"
